.DS_Store
Thumbs.db
.venv/
.pio/
__pycache__/
*.pyc
*.o
logs/
compile_commands.json
.DS_Store
test/
.pio*
.vscode
firmware/
serial-studio/
sim/
test/
___*
.idea/
*.swp
*.swo
*.bak
*~
build/
dist/
*.log
secrets.h
include/secrets.h
node_modules/
__pycache__/
*.pyc
.python-version
.env.example
.clang-format
*.ssproj